<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xpxp.mapper.CategoryMapper">


    <select id="getAll" resultType="com.xpxp.entity.Category">
        select *
        from category
        where shop_id = #{shopId}
    </select>


    <!--新增分类-->
    <insert id="insert">
        insert into category (category_name, category_description, image, shop_id)
        values (#{categoryName}, #{categoryDescription}, #{image}, #{shopId});
    </insert>
    <!--更新分类-->
    <update id="updateCategory" parameterType="com.xpxp.entity.Category">
        UPDATE category
        <set>
            <if test="categoryName != null and categoryName != ''">category_name = #{categoryName},</if>
            <if test="categoryDescription != null and categoryName != ''">category_description =
                #{categoryDescription},
            </if>
            <if test="image != null and image != ''">image = #{image},</if>
            updated_at = CURRENT_TIMESTAMP
        </set>
        WHERE category_id = #{categoryId}
    </update>

    <select id="listCount" resultType="com.xpxp.VO.CategoryCountVO">
        select category_id, count(flower_id) as count
        from flowers
        where status = 1
        group by category_id;
    </select>
    <select id="page" resultType="com.xpxp.entity.Category">
        select *
        from category
        <where>
            <if test="shopId != null">
                and shop_id = #{shopId}
            </if>
            <if test="categoryName != null and categoryName != ''">
                and category_name like CONCAT('%', #{categoryName}, '%')
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
        </where>
    </select>
    <select id="getByShopId" resultType="com.xpxp.VO.CategoryVO">
        select c.category_id, c.category_name
        from category c
        where shop_id = #{shopId}
    </select>
</mapper>